@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>На данный момент наше приложение используют:</h2>
    <p class="">@ViewBag.CompaniesCount компаний</p>
    <p class="">@ViewBag.EmployeesCount работников</p>
</div>
